.font-group-input {
	background-color: #ffffff !important;
	border: 1px solid #cccccc;
	border-radius: 4px;
	cursor: pointer !important;
	padding: 0 5px;
	width: 200px !important;
}

.font-group-caret {
	cursor: pointer;
	position: absolute;
	right: 6px;
	top: 9px;
}

.font-group-options {
	background-color: white;
	border-radius: 0px 0px 4px 4px;
	display: block;
	overflow: scroll;
	position: absolute;
	top: 22px;
	width: 100%;
	z-index: 5000;
	-webkit-transition: all .15s ease-in-out;
	   -moz-transition: all .15s ease-in-out;
	    -ms-transition: all .15s ease-in-out;
	     -o-transition: all .15s ease-in-out;
	        transition: all .15s ease-in-out;

	/*When Closed*/
	border: none;
	height: 0px;
	opacity: 0;
}

.font-dropdown.open .font-group-options {
	border: 1px solid #66afe9;
	border-top-color: #cccccc;
	height: 150px;
	opacity: 1;
	padding: 5px 0;
}

.font-group-list-item {
	padding: 0 5px;
	overflow-x: scroll;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.font-dropdown:not(.open) .font-group-list-item {
	position: fixed;
	top: -2000px;
}

.font-group-list-item {
	cursor: pointer;
}

.font-group-list-item.active {
	background-color: #428bca;
}

.font-group-list-item:hover {
	background-color: #4ea4f0;
}