.font-group-input {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	cursor: pointer;
	padding: 0 5px;
	width: 200px;
}

.font-group-caret {
	cursor: pointer;
	position: absolute;
	right: 6px;
	top: 9px;
}

.font-group-options {
	z-index: 5000;
	background-color: white;
	border: 1px solid #cccccc;
	border-radius: 0px 0px 4px 4px;
	padding: 5px 0;
	position: absolute;
	top: 18px;
	max-height: 200px;
	overflow: scroll;
	width: 100%;
}

.font-group-list-item {
	cursor: pointer;
	padding: 0 5px;
}

.font-group-list-item.active {
	background-color: #0088cc;
}

.font-group-list-item:hover {
	background-color: #00a3f4;
}